/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;  
    color: #333;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;  
    height: 100vh;  
    margin: 0;
}

/* Navbar styles */
.navbar {
    background-color: #4f3b61;
    padding: 15px;
    color: white;
    text-align: center;
    position: sticky;
    top: 0; 
    width: 100%;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

/* General Container Styling */
.container {
    max-width: 1400px; 
    margin: 0 auto;    
    padding: 20px;
}

.container.mt-4 {
    margin-top: 0 !important;
}

.index_page .container {
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

.logo-container {
    display: flex;  
    align-items: center;  
    gap: 10px;  
    margin-bottom: 30px;  
}

.logo {
    height: 50px;  
    width: auto; 
    border-radius: 5px; 
}

.app-title {
    font-size: 36px;  
    font-weight: bold;  
    color: #333;  
    margin: 0;  
}

.login-form {
    margin-top: 30px;
    display: block;  
}

.login-form input {
    width: 100%;  
    padding: 10px;
    margin: 10px 0;  
    border: 1px solid #ccc;  
    border-radius: 5px;  
    font-size: 16px;  
}

.login-btn {
    width: 100%;  
    padding: 10px;
    background-color: #9b4d96;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;  
}

.login-btn:hover {
    background-color: #7a3d74;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
}

.signup-link a {
    color: #7a3d74;
}

.signup-link a:hover {
    text-decoration: underline;
}

.forgot-password-link {
    text-align: center;
    margin-top: 10px;
}

.forgot-password-link a {
    color: #9b4d96;  /* Mauve color */
    text-decoration: none;
}

.forgot-password-link a:hover {
    text-decoration: underline;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #555;
    text-align: left;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #9b4d96; /* Mauve color focus */
}

button {
    background-color: #9b4d96;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #7a3d74;
}

/* Sign Up Page */
.sign-up-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5; /* Off-white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-up-container h2 {
    text-align: center;
    color: #6c3f6e; /* Mauve */
    font-size: 24px;
}

.sign-up-form .form-group-sign-up {
    margin-bottom: 15px;
}

.sign-up-form .form-group-sign-up label {
    display: block;
    font-weight: bold;
}

.sign-up-form .form-group-sign-up input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.sign-up-btn {
    width: 100%;
    padding: 10px;
    background-color: #6c3f6e; /* Mauve */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.sign-up-btn:hover {
    background-color: #542a47;
}

.sign-up-link a {
    text-align: center;
    font-size: 14px;
    color: #6c3f6e;
}

/* Medicines Page Styling */
.table-container {
    max-height: 500px; 
    overflow-y: auto; 
    margin-bottom: 20px; 
    width: 100%; 
}

.my_medicine_page .container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
    max-height: calc(100vh - 150px); 
}

#medicines-table {
    width: 100%; 
    border-collapse: collapse;
    table-layout: auto; 
}

#medicines-table th, #medicines-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    word-wrap: break-word;
}

#medicines-table th {
    background-color: #f8f9fa; 
    font-weight: bold;
}

#medicines-table th:nth-child(1), /* Name column */
#medicines-table td:nth-child(1) {
    width: 10%;
}

#medicines-table th:nth-child(2), /* Dose column */
#medicines-table td:nth-child(2) {
    width: 5%;
}

#medicines-table th:nth-child(3), /* Freq column */
#medicines-table td:nth-child(3) {
    width: 10%;
}

#medicines-table th:nth-child(4), /* Notes column */
#medicines-table td:nth-child(4) {
    width: 35%;
}

#medicines-table th:nth-child(5), /* Reminders column */
#medicines-table td:nth-child(5) {
    width: 30%;
}

#medicines-table th:nth-child(6), /* Actions column */
#medicines-table td:nth-child(6) {
    width: 10%;
}


#medicines-table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

#medicines-table tr:hover {
    background-color: #f1f1f1; 
}

#medicines-col-header {
    text-transform: uppercase;
    letter-spacing: 1px;
}

#add-medicine-btn, .btn-primary, .btn-danger {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
}

#add-medicine-btn {
    margin-bottom: 10px;
}

#add-medicine-btn {
    background-color: #6c3f6e;
    color: white;
    border: none;
}

#add-medicine-btn:hover {
    background-color: #542a47;
    cursor: pointer;
}

#email-medicine-btn {
    background-color: #6c3f6e;
    color: white;
    border: none;  
    vertical-align: top;  
}

#email-medicine-btn:hover {
    background-color: #542a47;
    cursor: pointer;
}

.btn-link {
    text-decoration: none;
    font-size: 14px;
    color: #6c3f6e;  
}

.btn-link:hover {
    text-decoration: underline;
    color: #542a47;  /* Darker mauve on hover */
}

/* Edit and Delete Buttons */
.btn-primary {
    background-color: #6c3f6e;
    border: none;
}

.btn-primary:hover {
    background-color: #138496;
    cursor: pointer;
}

.btn-danger {
    background-color: #6c3f6e;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
    cursor: pointer;
}

/* Container for the action buttons (Edit & Delete) */
.action-buttons {
    display: flex;
    gap: 10px; 
    justify-content: flex-start; 
}

/* Individual button style in the action-buttons div */
.action-buttons .btn {
    margin: 0; 
}

/* Additional Styling for Alerts, Error Messages, etc. */
.alert {
    margin-top: 20px;
}

.my-medicines-list {
    color: #9b4d96;  /* Mauve color */
    font-weight: bold;
    text-decoration: none;
}

.my-medicines-list:hover {
    color: #7a3c7e;  /* Darker mauve on hover */
    text-decoration: underline;
}


/* Footer styles */
.footer {
    background-color: #4f3b61;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
    
    .logo {
        height: 40px;
    }

    .app-title {
        font-size: 24px;
    }

    .logo-container {
        flex-direction: column;
        align-items: center;
    }

    .login-form input {
        font-size: 14px;
        padding: 8px;
    }

    .login-btn, .sign-up-btn {
        font-size: 14px;
        padding: 8px;
    }

    .navbar {
        flex-wrap: nowrap; 
        justify-content: space-between; 
    }
    .navbar-toggler {
        margin-left: auto; 
    }
    .navbar-brand {
        font-size: 18px; 
    }

    .navbar-collapse {
        width: 100%;
    }

    .navbar-nav {
        text-align: center; 
    }

    .nav-item {
        padding: 10px; 
    }

    .signup-link a {
        font-size: 12px;
    }

    #medicines-table {
        font-size: 12px; 
    }

    #medicines-table th, #medicines-table td {
        padding: 6px; 
    }

    #medicines-table th {
        font-size: 14px;
    }

    .action-buttons {
        flex-direction: column;
        gap: 5px; 
    }

    .action-buttons .btn {
        font-size: 10px;          
        padding: 6px 12px;         
        width: 60px;              
        min-width: 20px;          
        text-align: center;       
    }

    .container {
        width: 100%;
        padding: 10px;
    }

    .table-container {
        max-height: 350px;  
        overflow-y: auto;   /* Allow scrolling if needed */
    }

    .my_medicine_page .container {
        padding: 5px;
    }

    .sign-up-container {
        width: 100%;
        padding: 15px;
    }

    /* Footer padding */
    .footer {
        padding: 10px;
    }
}


